.error-message {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-red);

    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: var(--color-white);

    position: relative;

    &__close {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 32px;
    }
}
